<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
    <h1 align="center">Vigencia desde <b>Domingo, 18 de octubre del 2020 hasta Viernes, 23 de octubre del 2020
      Sábado, 24 de octubre del 2020 día de entrega de pedidos.</b></h1>
          
          <!-- Tarjeta del primer producto -->
          <ion-card>
            <ion-card-header>
              <ion-img src="../../assets/img/post6.png"></ion-img>
              <ion-card-subtitle>Pizza de Pepperoni</ion-card-subtitle>
              <ion-card-title>Little Caesars</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <b>A tan solo $219</b> <br>
              Pizza de Pepperoni <br> 
              <div align="center">
              <ion-button color="primary">
                <ion-icon name="cart-outline"></ion-icon>
                CONSEGUIR</ion-button>
              </div>
            </ion-card-content>
          </ion-card>

          <!-- Tarjeta del segundo producto -->
          <ion-card>
            <ion-card-header>
              <ion-img src="../../assets/img/post5.png"></ion-img>
              <ion-card-subtitle>Pizza Gran Hut Mix</ion-card-subtitle>
              <ion-card-title>Pizza Hut</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <b>A tan solo $313</b> <br>
              Incluye Pepperoni, Hawaiana, Mexicana, Campiñones<br> 
              <div align="center">
              <ion-button color="primary">
                <ion-icon name="cart-outline"></ion-icon>
                CONSEGUIR</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
       
       
</ion-content>